@model PhoneBill.Models.Supervisor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Supervisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupervisorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitesSectionsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitesSectionsId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
