@model IEnumerable<PhoneBill.ViewModels.PhoneBillVM>
<div id="page">

    <style>
        .MyTable {
            margin: 1px;
            padding: 1px;
        }

            .MyTable td, th, tr {
                margin: 0;
                padding: 1px !important;
            }

        .thBG {
            background: #e0dada;
        }

            .thBG:hover {
                background: #e0dada !important;
            }
    </style>
    <table class="table table-bordered MyTable">
        <tr class="thBG">

            <td colspan="3" class="thBG">
                @Html.Partial("~/Views/Bills/GroupMyCallsSearch.cshtml")
            </td>
           <td class="thBG"></td>
        </tr>
        <tr>
            <th>No</th>
            <th>Calling Number</th>
            <th>Called No</th>
            <th>Add/Remove Personal Numbers</th>

        </tr>
        @{ 
            int i = 1;
        }
@using (Html.BeginForm("SavePersonalCalles", "Bills", FormMethod.Post, null))
{
    foreach (var item in Model)
    {
            <tr>
                <td>@i</td>
                <td>@item.CALLING_NUMBER</td>
                <td>@item.CALLED_NUMBER</td>
                <td>
                    

                    <input type="checkbox" name="PostedPersonalNumbers[]" id="PostedPersonalNumbers[]" value="@item.CALLED_NUMBER"
                            @foreach (var chitem in ViewBag.PersonalNums) {
                                if(item.CALLED_NUMBER==chitem)
                                {
                                    <text>checked="checked"</text>
                                }
                            }/>

                    
                    @foreach (var ritem in ViewBag.PersonalNums)
                    {
                        if (item.CALLED_NUMBER == ritem)
                        {
                          <span style="background:#ff0000; color:#ffffff; border-radius:4px; padding:3px;">Personal</span> <span> - </span>  @Html.ActionLink("Remove this number from personal list", "RemoveFromPersonal", "Bills",new { PersonalNumber=ritem}, new { @class="b"});
                            @*<a href="@Url.Action("RemoveFromPersonal","Bills",new {PersonalNumber=ritem,month="mnt" })" onclick="goToURL(); return false;" id="rmvlink">Remove this number from personal list</a>*@
                        }
                    }
                </td>
               
            </tr>
        i++;
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            
            <input type="submit" value="Add to My Personal Numbers List" class="btn btn-primary" />
        </td>
    </tr>
}
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
<script>


    //function goToURL() {
    //    var fakedUri = $("#rmvlink").prop("href");
    //    var uri = fakedUri.replace("mnt", $("#MonthOptions").val());
    //    location.href = uri;

    //}

 
</script>